@model Source.Models.Topic

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Topic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.overview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.overview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parent_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parent_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cours.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cours.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
