@model IEnumerable<Source.Models.Topic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.overview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parent_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updated_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updated_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cours.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.overview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.parent_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updated_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updated_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cours.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
